@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root, html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #141414;
}